* {
  margin: 0;
  padding: 0;
}

.container {
  background: #8758ff;
  /* background-color: #c89666; */
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper {
  background-color: #0e0f2a;
  min-width: 450px;
  min-height: 650px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 6px 40px #000;
  margin-bottom: 10px;
}

.header h1 {
  color: #fff;
  text-align: center;
  margin: 30px 0;
}

.task-input {
  outline: 70px;
  width: 290px;
  padding: 15px;
  margin-right: 25px;
  font-size: 20px;
  color: #ccc;
  background-color: #000000;
  border: 1px solid #8758ff;
  border-radius: 10px 0px 0px 10px;
}

.button-add {
  width: 120px;
  padding: 16px 15px;
  font-size: 20px;
  border-radius: 0px 10px 10px 0px;
  border: 0;
  background-color: #8758ff;
  cursor: pointer;
  color: #ffffff;
  margin-left: -25px;
}

.list-item {
  height: 50px;
  display: flex;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  max-height: 50px;
  background-color: #8758ff;
  color: #ffffff;
}

.button-complete,
.button-delete,
.button-edit {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 28px;
  border-radius: 50%;
  margin: 10px 0px 0px 0px;
}

.button-complete {
  color: #ff6c6c;
  margin-right: 10px;
  margin-left: 80px;
}

.button-edit {
  color: #e2cc29;
  margin-right: 5px;
}

.button-delete {
  color: lightseagreen;
}

.complete {
  text-decoration-style: solid;
  text-decoration-line: line-through;
  text-decoration-color: #ff6c6c;
  opacity: 0.6;
}

.list {
  width: 220px;
  background-color: #8758ff;
  border: none;
  color: #ccc;
  font-size: 20px;
  padding-left: 10px;
  margin-right: 15px;
  color: #ffffff;
  border-radius: 11px;
}

input:focus,
button:focus {
  outline: none;
}
